{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'lab4/lab4_style_index.css' %}" />
    <title>Note</title>
  </head>
  <div class="navbar">
    <a class="active" href="/lab-4">Home</a>
    <a href="/lab-4/add-note/">Note</a>
    <a href="/lab-4/note-list/">Card</a>
    
</div>
  <body>
    <div class="container">
      <div class="heading">
      <h2>Friend List</h2>
      </div>
      <table class="content-table">
        <thead>
          <tr>
            <th>Untuk</th>
            <th>Dari</th>
            <th>Judul</th>
            <th>Pesan</th>
          </tr>
        </thead>
        <tbody>
          {% if note %}
          {% for data in note %}
          <tr>
            <td>{{data.untuk}} </td>
            <td>{{data.dari}}</td>
            <td>{{data.judul}}</td>
            <td>{{data.pesan}}</td>
          </tr>
          {% endfor %}
        {% endif %}
        </tbody>
    </div>
  </table>
  </body>
</html>
