{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'lab4/lab4_style_note_list.css' %}" />
  <title>Document</title>

</head>
<div class="navbar">
  <a href="/lab-4">Home</a>
  <a href="/lab-4/add-note/">Note</a>
  <a class="active" href="/lab-4/note-list/">Card</a>
  
</div>
<body>
    <div class="container">
      <div class="heading">
      <h2>YOUR CARDS</h2>
      </div>
      <div class="box">
        {% if notes %}
        {% for data in notes %}
        <div class="card">
          <div class="card-title">
            <p class="card-text">{{ data.judul }}</P>
          </div>
          <div class="card-message">
            <p class="card-text">"{{ data.pesan }}"</p>
          </div>
          <div class="card-bottom">
            <p class="card-text">{{ data.dari }} to {{ data.untuk }}</p>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div> 
</body>
</html>