{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lab4/lab4_style_form.css' %}" />
    <title>Document</title>
</head>
<div class="navbar">
    <a href="/lab-4">Home</a>
    <a class="active" href="/lab-4/add-note/">Note</a>
    <a href="/lab-4/note-list/">Card</a>
    
</div>
<body>
    <h1>
        Add Notes
    </h1>
    <form action="" method="POST"> {% csrf_token %}
        <div class="styling">
            <div class="inputDiv">
                <label>From</label>
                <input type="text" placeholder="Sender Name" name="dari"><br>
            </div>
            <div class="inputDiv">
                <label>For</label>
                <input type="text" placeholder="Recipient Name" name="untuk" maxlength="10"><br>
            </div>
            <div class="inputDiv">    
                <label>Title</label> 
                <input type="text" placeholder="Enter Title" name="judul"><br>
            </div>
            <div class="inputDiv">    
                <label>Message</label> 
                <input type="text" placeholder="Enter Message" name="pesan"><br>
            </div>
            <div>
            <button class="button" type ="submit" value="Submit">
            Submit
            </button>
            </div>
        </div>
    </form>
</body>
</html>