* {
    padding: 0;
    margin: 0;
  }

body {
    background: #5965a4;
    font-family: roboto;
}

input{
    color: rgb(0, 48, 73);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(8, 32, 50);
    background-color: rgb(234, 226, 183);
}
form{
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: white;
}
.styling{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: auto;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition-duration: 0.4s;
    background-color: rgb(0, 48, 73); 
    border: 2px solid rgb(234, 226, 183);
}
.button:hover{
    background-color: rgb(234, 226, 183);
    color: rgb(0, 48, 73);
}
.inputDiv{
    display: flex;
    flex-direction: column;
}
.inputDiv label{
    color: white;
}

.navbar {
    overflow: hidden; 
    background-color: #313e58;
    position: relative;
  }
  .navbar a {
    float: left;
    margin-left: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: white;
    color: black;
  }
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }