/*Inspired by: https://codepen.io/skcals/pen/eYpEvda*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    background: #5965a4;
    font-family: roboto;
}
  
.container {
    width: 90%;
    margin: 50px auto;
  }
.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    color: white;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.card{
    width: 20%;
    background: #fff;
    border: 3px solid #313e58;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 4px;
}
.card-title {
    text-align: center;
    padding: 20px 10px;
    background: #24346c;
    color: #fff;
    font-size: 30px;
    
}
.card-message {
    text-align: center;
    padding: 30px 20px;
    font-size: 18px;
}
.card-bottom {
    bottom: 0;
    text-align: center;
    padding: 20px 5px;
    background: #24346c;
    color: #fff;
}

.navbar {
    overflow: hidden; 
    background-color: #313e58;
    position: relative;
}
.navbar a {
    float: left;
    margin-left: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: white;
    color: black;
}
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}