/*# inspired by : https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l*/
* {
  padding: 0;
  margin: 0;
}

body {
  background: #5965a4;
  font-family: roboto;
}

.container {
  width: 30%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table thead tr {
  background-color: #24346c;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  justify-content: center;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 0px solid #dddddd;
}

.content-table tbody tr:nth-of-type(odd) {
  background-color: #5965a4;
  font-weight: bold;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #445094;
  font-weight: bold;
}

.navbar {
  overflow: hidden; 
  background-color: #313e58;
  position: relative;
}
.navbar a {
  float: left;
  margin-left: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: white;
  color: black;
}
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}