<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body style="background-color: rgb(0, 48, 73);">
    <style>
      table, th, td {
        border:2px solid rgb(234, 226, 183);
        color: rgb(255, 255, 255);
        padding: 10px 10px;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
      h1{
        text-align: center;
        color : rgb(255, 255, 255)
      }
      .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        border: none;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        transition-duration: 0.4s;
        background-color: rgb(0, 48, 73); 
        border: 2px solid rgb(234, 226, 183);
      }
      .button:hover{
        background-color: rgb(234, 226, 183);
        color: rgb(0, 48, 73);
      }
      </style>
      <h1>
        Friend List
      </h1>
    <table class="center">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for data in friends %}
      <tr>
        <td>{{data.name}} </td>
        <td>{{data.NPM}}</td>
        <td>{{data.DOB}}</td>
      </tr>
      {% endfor %}
    </table>
    <button class="button" type="button" onclick="addFriend()">
      Add Friend
    <script>
      function addFriend(){
        window.location.href="http://localhost:8000/lab-3/add/";
      }
    </script>
    </button>
  </body>
</html>
