<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
  <body>
    <table>
      <tr>
        <th>untuk</th>
        <th>dari</th>
        <th>judul</th>
        <th>pesan</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% if note %}
      {% for data in note %}
      <tr>
        <td>{{data.untuk}} </td>
        <td>{{data.dari}}</td>
        <td>{{data.judul}}</td>
        <td>{{data.pesan}}</td>
      </tr>
      {% endfor %}
    {% endif %}

      <!-- EXAMPLE SECTION -->
      <!-- END SECTION -->
    </table>
  </body>
</html>
